.orange{
      background-color: orange;
}
.lightblue{
      background-color: lightblue;
      color: black;
      padding: 5px;
}
.yellow{
      background-color: yellow;
}
.red{
      background-color: red;
}
.skyblue{
      background-color: skyblue;
}
.blueviolet{
      background-color: blueviolet;
}
